/* body{
   font-family: 'Noto Sans KR', sans-serif;
   font-weight: 400;
} */
body{
   font-family: 'Nanum Brush Script', cursive;
   font-family: 'Noto Sans KR', sans-serif;
}
/* hs겨울눈꽃체 */

@font-face {
   font-family: 'snowflower';
   src: url('font/HSGyeoulNoonkott2.0-Regular.woff') format('woff');
   font-weight: 400;
   font-style: normal;
}
#title .wrap p{
   font-family: Nanum Brush Script;
  font-size: 35px;
}
}


